.taskCard {    
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .5rem auto;
	color: #fff;
	background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
	padding: 1rem;
	border-radius: 0.25rem;
	width: 100%;
	text-align: left;
	gap: 1rem;

	&:nth-child(4n + 1) {
		background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
	}
	
	&:nth-child(4n + 2) {
		background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
	}
	
	&:nth-child(4n + 3) {
		background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
	}

	&.completeTask {
		opacity: .45;

		input {
			text-decoration-style: solid;
			text-decoration-line: line-through;
			text-decoration-color: #fffffc;
		}
	}

	&.deleting {
		opacity: .45;
		background: linear-gradient(90deg, rgb(54, 54, 54) 0%, rgb(36, 36, 36) 100%);
	}

	input {
		background: transparent;
		outline: none;
		border: 0;
		color: #ffff;
		pointer-events: none;
		width: 100%;

		&:focus {
			outline: none;
		}

		&.editingTask {
			pointer-events: all;
		}
	}

	div {
		flex: auto;
		gap: 0.3rem;
		display: flex;
		justify-content: flex-end;

		span {
			cursor: pointer;
		}
	}
}